*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato',sans-serif;
}
body{
  overflow: hidden;
  background: whitesmoke;
}
#root{
  position: relative;
  height: 99vh;
  display: flex;
  justify-content: center; 
}
#App{
  width: 50%;
}
#header{
  padding: 20px 0px;
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
}
#expenseIncome{
  background: #ffffff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  justify-content:center;
  margin: 30px 0px ;
  padding: 15px 0px;
  font-size: 14px;
  width: 100%;
}
#expenseIncome #amount-IN{
  color: rgb(137, 214, 22);
  padding-top: 5px ;
}
#expenseIncome #amount-EX{
  color: rgb(214, 22, 22);
  padding-top: 2px;
}
.line {
  background-color: rgb(228, 226, 215); /* Line color */
  width: 2px; /* Width of the line */
  content: ''; /* Necessary for pseudo-elements */
  display: block; /* Block element */
  margin: 0 25px;
}
.line-hor{
  background-color: rgb(228, 226, 215); /* Line color */
  width: 100%;
  height: 2px;
  content: ''; /* Necessary for pseudo-elements */
  display: block; /* Block element */
  margin-top: 5px;
}
#history #history-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}
#history #history-box #hy-Box{
  display: flex;
  justify-content: space-around;
  margin: 3px 0;
  height: 30px;
  width: 100%;
  border: 2px solid gray;
  border-radius: 10px;
}
#transaction{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
#transaction h2{
  font-size: 1rem;
  font-weight: 700;
}
#transaction label{
  margin: 5px;
  font-size: 12px;
  font-weight: 700;
} 
#transaction input{
  height: 30px;
}
#transaction button{
  background: rgb(195, 55, 255);
  color: white;
  border: none;
  border-radius: 5px ;
  height: 30px;
  margin-top: 5px;
}
li{
  list-style: none;
}
li span{
  margin-left: 140px;
}